.landing {
    height: calc(100vh - (var(--header-height)));
    .container {
        .landingContent {
            .jobTitles {
                font: {
                    size: var(--fs-2-5);
                    weight: var(--fw-500);
                }
                color: var(--dc);
                .jobTitlesList {
                    animation: slide 100s steps(5) infinite;
                    margin-top: -25rem;
                    @keyframes slide {
                        0% {
                          margin-top: 0;
                        }
                      }
                    .jobTitle {
                       border-right: 2px solid var(--mc);
                       animation: typing 20s steps(20) infinite,curser .5s step-end infinite alternate;
                       @keyframes curser {
                        50% {
                            border-color: transparent;
                        }
                       }
                       @keyframes typing {
                        0% {
                            width: 0;
                        }
                        20% {
                            width: 100%;
                        }
                        80% {
                            width: 100%;
                        }
                        100% {
                            width: 0;
                        }
                       }
                    }
                }
            }
            .desc {
                padding: {
                    block: 0.5rem 2rem;
                    right: 30%;
                }
                color: var(--tcl);
                font: {
                    weight: var(--fw-400);
                    size: var(--fs-1);
                }
            }
        }
        .landingImage {
            background: {
                image: url('/assets/images/user/profile.jpg');
                // image: url('/assets/images/logo/icons/icon-512x512.png');
                size: cover;
                repeat: no-repeat;
                position:center;
            }
            $size: 20rem;
            width: $size;
            height: $size;
            border: 0.25rem solid var(--mc);
            animation: profile_image 8s ease-in-out infinite 1s;
            @keyframes profile_image {
                0% {
                    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                }
                50% {
                    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
                }
                100% {
                    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
                }
            }
        }
        .landingSocial {}
    }
}