.logo {
    column-gap: 0.25rem;
    img {
        $size: 30px;
        width:$size;
        height:$size;
    }
    h1 {
        letter-spacing: 1px;
        font: {
            size: var(--fs-2);
            weight: var(--fw-600);
            family: var(--logoFontFamily);
        }
    }
}