.socialMediaIcons {
    .socialMediaIcon {
        a {
            .icon {
                $size: 30px;
                color: var(--wc);
                // color: hsl(0, 0%, 13%);
                background-color: var(--mc);
                // background: hsl(0, 0%, 80%);
                width: $size;
                height:$size;
                padding: var(--p-0-25);
                border-radius: var(--rounded);
            }
        }
    }
}